ui/node_modules
!**/rootCA.pem
Containerfile.*
dist
*-envs.json

# config
.auth-providers.yaml

# misc
*.idea
.DS_Store
.go-lint-*
.gen-*
.*-lint
.generate

#tests
./tests/*.json
./tests/*.key
/*.key
!Containerfile.test
*.test
integration-tests/tmp/
internal/client/tmp/
