# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Built binaries
cmd/aircrew/bin
cmd/controltower/bin
aircrew
controltower

# Ops files
*.pem
**/peer-inventory/*
endpoints.toml
default-ipam.json

# misc
*.idea
.DS_Store

# test
aircrew-*.sh
*.key
