# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Built binaries
jaywalk
jaywalk-amd64-darwin
jaywalk-amd64-linux

# Ops files
*.pem
**/peer-inventory/*
endpoints.toml
default-ipam.json

# misc
*.idea
.DS_Store

#supervisor
supervisor/jaywalk-supervisor
supervisor/ipam-blue.json

