# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Built binaries
/dist/*

# Ops files
*.pem

# misc
*.idea
.DS_Store
.go-lint-*
.gen-*
.*-lint
.generate
.test-images

#tests
./tests/*.json
./tests/*.key
/*.key
!Containerfile.test
*.test
integration-tests/tmp/
internal/client/tmp/

# config
.env.*
coredns.yaml
.certs
kubeconfigs/
.auth-providers.yaml

# kustomization yaml
./deploy/nexodus-client/overlays/dev/kustomization.yaml
./deploy/nexodus-client/overlays/dev/node_selector.yaml
./deploy/nexodus-client/overlays/sample/kustomization.yaml
./deploy/nexodus-client/overlays/sample/node_selector.yaml

# Auto generated man pages
/contrib/man/*
*-envs.json

# site generated with mkdocs
site/
