[Unit]
Description=Nexodus connectivity daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
EnvironmentFile=/etc/sysconfig/nexodus
ExecStart=/bin/sh -c '/usr/bin/nexd $${NEXD_ARGS}'

[Install]
WantedBy=multi-user.target
