apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: grafana-proxy
  namespace: nexodus-monitoring
rules:
  - verbs:
      - create
    apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
  - verbs:
      - create
    apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
