[defaults]
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
ask_pass = False
stdout_callback = yaml
# defaults to the base directory in the project
inventory = inventory.txt
# create .pem private_key_file and provide location
private_key_file = ./nexodus.pem
# SSH timeout (ansible default is 10)
timeout = 60
# increase task batches from the default of 5
[ssh_connection]
# how long the SSH keeps an idle connection open in the background. Increase from the default 60s to 600s
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = False
retries = 10
