apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: apex-grafanadatasource
  namespace: observability
spec:
  name: middleware.yaml
  datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-operated:9090
      isDefault: true
      version: 1
      editable: true
      jsonData:
        tlsSkipVerify: true
        timeInterval: "5s"
