apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nexodus
bases:
  - ../../base
secretGenerator:
  - name: nexodus-client-secret
    literals:
      - cert=<NEXODUS_SERVICE_CERT>
      - url=https://try.nexodus.127.0.0.1.nip.io
      - auth_url=https://auth.try.nexodus.127.0.0.1.nip.io/token
      - username=kitteh1
      - password=floofykittens
commonLabels:
  app.kubernetes.io/component: nexodus-client
  app.kubernetes.io/instance: nexodus-client
  app.kubernetes.io/name: nexodus-client
patchesJson6902:
  - target:
      kind: DaemonSet
      name: nexodus
    patch: |-
      - op: replace
        path: /spec/template/spec/hostAliases/0/ip
        value: <NEXODUS_SERVICE_IP>
patchesStrategicMerge:
  - node_selector.yaml
