# roles get branched from here
# Note: Optionally comment out any sections to pick and choose what gets run
# The isn't an Azure VM loop deployment, only single VMs currently in create-azure-vm.yml
# Deploy and start the agent
- hosts: nexodusNodes
  vars_files:
    - vars.yml
  roles:
    - role: deploy-mesh
