---
# tasks file for deploy-mesh
- name: Update repo cache
  become: yes
  apt:
    update_cache: yes

- name: Install dependencies
  become: yes
  apt:
    name:
      - wireguard
      - jq
      - fping
      - iperf3
      - mkcert
      - nftables
    state: latest

# Remove with https://github.com/nexodus-io/nexodus/issues/789
- name: Remove the stored token
  become: yes
  shell: |
    rm /var/lib/nexd/apitoken.json
  ignore_errors: yes

- name: Create the certs dir
  shell: |
    mkdir -p .certs

- name: Copy rootCA.pem
  copy:
    src: rootCA.pem
    dest: .certs/
    mode: 0644

- name: mkcert
  shell: |
    CAROOT=/home/{{ ansible_user }}/.certs mkcert -install

- name: Kill any existing nexd process from previous runs
  shell: |
    sudo killall nexd 2> /dev/null
  ignore_errors: yes

- name: Delete hosts file
  become: yes
  shell: |
    sudo rm -rf /etc/hosts
    sudo touch /etc/hosts
  ignore_errors: yes

- name: Print the API Server IP
  debug:
    msg: "{{ controller_address }}"

- name: Add controller host entry
  become: yes
  blockinfile:
    path: /etc/hosts
    block: |
      127.0.0.1 localhost
      ::1 ip6-localhost ip6-loopback
      fe00::0 ip6-localnet
      ff00::0 ip6-mcastprefix
      ff02::1 ip6-allnodes
      ff02::2 ip6-allrouters
      ff02::3 ip6-allhosts
      {{ controller_address }} auth.try.nexodus.127.0.0.1.nip.io api.try.nexodus.127.0.0.1.nip.io try.nexodus.127.0.0.1.nip.io

- name: Delete wg0
  become: yes
  shell: |
    sudo ip link del wg0
  ignore_errors: yes

- name: Download the Nexodus Agent Binary
  shell: |
    sudo curl {{ nexodus_binary }} --output /usr/local/sbin/nexd
    sudo chmod +x /usr/local/sbin/nexd

- name: Attach the Node Agent to the Controller
  become: yes
  shell: |
    nexd \
    --username '{{ nexodus_auth_uid }}' \
    --password '{{ nexodus_auth_password }}' \
    {{ nexodus_url }} > nexodus-logs.txt 2>&1 &
  when: "'nexodusNodes' in group_names"

- name: Attach the Relay Only Client to the Controller
  become: yes
  shell: |
    nexd \
    --username '{{ nexodus_auth_uid }}' \
    --password '{{ nexodus_auth_password }}' \
    --relay-only \
    {{ nexodus_url }} > nexodus-logs.txt 2>&1 &
  when: "'nexodusRelayNodes' in group_names"
