---
# tasks file for deploy-mesh

- name: concatenate
  ansible.builtin.template:
    src: templates/concat.j2
    dest: "{{ jaywalk_conf_file }}"
  delegate_to: localhost

- name: Register the Public Key for the Node
  become: yes
  shell: cat /etc/wireguard/public.key
  register: PUBLIC_KEY

- name: Register the Public Key for the Node
  become: yes
  shell: cat /etc/wireguard/private.key
  register: PRIVATE_KEY

- name: Register the public facing IP (Presumes Internet Connectivity)
  shell: curl https://checkip.amazonaws.com
  register: PUBLIC_ADDRESS

- name: Download the jaywalk binary
  become: yes
  shell: |
    curl {{ jaywalk_binary }} --output /usr/local/sbin/jaywalk
    chmod +x /usr/local/sbin/jaywalk

- name: Delete existing config from previous runs
  become: yes
  shell: |
    killall jaywalk
    rm /etc/wireguard/wg0.conf
  ignore_errors: yes

- name: Run Jaywalk and build the tunnels
  become: yes
  shell: |
    jaywalk --public-key={{ PUBLIC_KEY.stdout }} \
        --private-key={{ PRIVATE_KEY.stdout }} \
        --controller={{ controller_address }} \
        --controller-password={{ controller_password }} \
        --agent-mode &
  ignore_errors: yes

