apiVersion: v1
kind: Namespace
metadata:
  name: nexodus-monitoring
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: nexodus-monitoring
spec:
  targetNamespaces:
    - nexodus-monitoring
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: grafana-operator
  namespace: nexodus-monitoring
spec:
  channel: v4
  name: grafana-operator
  source: operatorhubio-catalog
  sourceNamespace: olm
