name: Lint GitHub Actions workflows
on:
  push:
    branches: ["main"]
    paths:
      - '.github/**'
  pull_request:
    branches: ["main"]
    paths:
      # This regex should match the one used for mergify policy in .github/mergify.yml
      - '.github/**'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: PATH=".:$PATH" make action-lint
        shell: bash