name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build Jaywalk Agent
      run: go build -v ./...

    - name: Build Jaywalk Supervisor
      run: |
        cd supervisor
        go build -v ./...
