name: build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '.vscode/**'
  pull_request:
    branches: ["main"]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '.vscode/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: ./.github/actions/setup-go-env

      - name: Generate Source Code
        run: |
          make generate
          
      - name: Check for uncommitted changes
        id: check-changes
        run: |
          if [ "$(git diff --ignore-space-at-eol | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            echo "========================================================"
            echo "  run `make generate` and commit the changes"
            echo "========================================================"
            exit 1
          fi
          
  go-lint-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["linux"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: ./.github/actions/setup-go-env
      - name: Lint ${{ matrix.os }}
        run: make .go-lint-${{ matrix.os }}

  # these are a little slower to lint...
  go-lint-rest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["darwin", "windows"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: ./.github/actions/setup-go-env
      - name: Lint ${{ matrix.os }}
        run: make .go-lint-${{ matrix.os }}

  ui-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
        working-directory: ui
      - run: npx prettier --check .
        working-directory: ui
      - run: npm run build
        working-directory: ui

  k8s-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: YAML Lint
        run: |
          yamllint -c .yamllint.yaml deploy --strict

      - uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Set up Kustomize
        run: |
          mkdir -p $HOME/.local/bin
          pushd $HOME/.local/bin
          curl -s --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash -s 4.5.7
          popd
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Kustomize Build
        run: |
          mkdir -p kubeconfigs
          kustomize build ./deploy/nexodus/overlays/dev > kubeconfigs/dev.yaml
          kustomize build ./deploy/nexodus/overlays/prod > kubeconfigs/prod.yaml

      - name: Login to GHCR
        run: echo "${{ github.token }}" | docker login https://ghcr.io -u ${GITHUB_ACTOR} --password-stdin

      - name: Set Up Kubeconform
        run: go install github.com/yannh/kubeconform/cmd/kubeconform@v0.5.0

      - name: Check Kube Manifests
        run: |
          kubeconform -summary -output json -schema-location default -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' -schema-location 'deploy/.crdSchemas/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' kubeconfigs/

  opa-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: latest

      - name: OPA Lint and Tests
        run: make opa-lint

  build-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: apiserver
            tags: quay.io/nexodus/apiserver:latest
            target:
          - name: frontend
            tags: quay.io/nexodus/frontend:latest
            target:
          - name: ipam
            tags: quay.io/nexodus/go-ipam:latest
            target:
          - name: test
            tags: quay.io/nexodus/test:ubuntu
            target: ubuntu
          - name: envsubst
            tags: quay.io/nexodus/envsubst:latest
            target:
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - name: Build and export ${{ matrix.name }}
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Containerfile.${{ matrix.name }}
          tags: ${{ matrix.tags }}
          outputs: type=docker,dest=/tmp/${{ matrix.name }}.tar
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: ${{ matrix.target }}

      - name: Upload ${{ matrix.name }} artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}
          path: /tmp/${{ matrix.name }}.tar

  go-unit:
    needs: [ go-lint-linux, go-lint-rest, generate ]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        arch: ["amd64", "arm64", "arm"]
        exclude:
          - os: macos-latest
            arch: arm
          - os: windows-latest
            arch: arm
          - os: windows-latest
            arch: arm64

          # Tests are failing with "bad CPU type in executable" or "exec format error"
          - os: ubuntu-latest
            arch: arm
          - os: ubuntu-latest
            arch: arm64
          - os: macos-latest
            arch: arm64

    runs-on: ${{ matrix.os }}
    env:
      GOARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: ./.github/actions/setup-go-env
      - name: Unit tests
        run: |
          go test -v ./...

  build-binaries:
    needs: [ go-lint-linux, generate ]
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        binary: ["nexd", "nexctl"]
        os: ["linux", "darwin", "windows"]
        arch: ["amd64", "arm64", "arm"]
        exclude:
          - os: darwin
            arch: arm
          - os: windows
            arch: arm
          - os: windows
            arch: arm64
    runs-on: ubuntu-latest
    env:
      GOARCH: ${{ matrix.arch }}
      JOB_NAME: "${{ matrix.binary }}-${{ matrix.os }}-${{ matrix.arch }}"
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: ./.github/actions/setup-go-env

      - name: Build ${{ matrix.binary }}
        id: build
        shell: bash
        run: |          
          CGO_ENABLED=0 GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} \
          go build \
            -o ${{ matrix.binary }}-${{ matrix.os }}-${{ matrix.arch }} \
            -v ./cmd/${{ matrix.binary }}

      - name: Upload ${{ matrix.binary }}
        uses: actions/upload-artifact@v3
        with:
          name: nexodus
          path: |
            ${{ matrix.binary }}-${{ matrix.os }}-${{ matrix.arch }}

  e2e:
    needs: [build-images]
    name: e2e-integration
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        # todo: work on getting the cockroach overlay working ["dev", "cockroach"]
        overlay: ["dev"]

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

      - name: Setup Go
        uses: ./.github/actions/setup-go-env

      - name: Install deps
        run: |
          sudo apt update
          sudo apt-get -qy install libnss3-tools

      - name: Add hosts to /etc/hosts
        run: |
          echo "127.0.0.1 auth.try.nexodus.local api.try.nexodus.local try.nexodus.local" | sudo tee -a /etc/hosts

      - name: Download apiserver image
        uses: actions/download-artifact@v3
        with:
          name: apiserver
          path: /tmp

      - name: Download frontend image
        uses: actions/download-artifact@v3
        with:
          name: frontend
          path: /tmp

      - name: Download ipam image
        uses: actions/download-artifact@v3
        with:
          name: ipam
          path: /tmp

      - name: Download test:ubuntu image
        uses: actions/download-artifact@v3
        with:
          name: test
          path: /tmp

      - name: Download envsubst image
        uses: actions/download-artifact@v3
        with:
          name: envsubst
          path: /tmp

      - name: Load Docker images
        run: |
          docker load --input /tmp/apiserver.tar
          docker load --input /tmp/frontend.tar
          docker load --input /tmp/ipam.tar
          docker load --input /tmp/test.tar
          docker load --input /tmp/envsubst.tar

      - name: Build dist
        run: |
          make dist/nexd dist/nexctl

      - name: Setup KIND
        run: |
          OVERLAY=${{ matrix.overlay }} make setup-kind deploy-operators load-images deploy cacerts

      - name: Run e2e Tests
        run: |
          go test -v --tags=integration ./integration-tests/...

      - name: Get Logs
        if: always()
        run: |
          kubectl logs -n nexodus -l app.kubernetes.io/part-of=nexodus --all-containers=true > logs.txt

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: e2e-${{ matrix.overlay }}-logs
          path: logs.txt

  upload-s3-binaries:
    needs: ["build-binaries", "build-rpm", "go-unit", "e2e"]
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment: image-repositories
    if: github.ref == 'refs/heads/main'
    steps:
      - name: download binary artifacts
        uses: actions/download-artifact@v3
        with:
          name: nexodus
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: nexodus-ci-deploy
          aws-region: us-east-1
      - name: copy binaries to s3
        run: |
          aws s3 sync . s3://nexodus-io/

  build-rpm:
    needs: [ go-lint-linux, generate ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Needed for building binaries to generate manpages
      - name: Setup Go
        uses: ./.github/actions/setup-go-env

      - name: Build rpm
        id: build-rpm
        run: |
          make rpm
          echo "artifact-name=$(pwd)/dist/rpm/mock/nexodus-*.x86_64.rpm" >> $GITHUB_OUTPUT

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: nexodus
          path: |
            ${{ steps.build-rpm.outputs.artifact-name }}
