name: promote

on:
  workflow_call:
  workflow_dispatch:

env:
  REGISTRY: quay.io
  REPOSITORY: apex
  APISERVER_IMAGE_NAME: apiserver
  FRONTEND_IMAGE_NAME: frontend

jobs:
  update-prod:
    name: Update Production Deployment
    needs: ["build-images"]
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: chrisdickinson/setup-yq@latest

      - name: Read Image SHAs from QA deployment
        id: gitsha
        run: |
          tag=$(yq '.images[0].newTag' ./deploy/apex/overlays/qa/kustomization.yaml)
          echo "tag=${tag}" >> $GITHUB_OUTPUT
          echo "short=${tag:0:8}" >> $GITHUB_OUTPUT

      - name: Set up Kustomize
        run: |
          mkdir -p $HOME/.local/bin
          pushd $HOME/.local/bin
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          popd
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Update Prod Images
        run: |
          pushd ./deploy/apex/overlays/prod
          kustomize edit set image ${REGISTRY}/${REPOSITORY}/${APISERVER_IMAGE_NAME}:${{ steps.gitsha.outputs.tag }}
          kustomize edit set image ${REGISTRY}/${REPOSITORY}/${FRONTEND_IMAGE_NAME}:${{ steps.gitsha.outputs.tag }}
          popd

      - name: Check for changes
        run: |
          git diff --quiet || echo "COMMIT_CHANGES=1" >> $GITHUB_ENV

      - name: Commit Changes
        id: commit
        if: env.COMMIT_CHANGES == 1
        uses: devops-infra/action-commit-push@master
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          commit_prefix: "[deploy] "
          commit_message: "Update prod images to ${{ steps.gitsha.outputs.short }}"
