apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: apex
  namespace: apex
spec:
  serviceAccountName: pipeline
  triggers:
    - bindings:
        - kind: TriggerBinding
          ref: apex
      template:
        ref: apex
